{% extends 'base_navbar.html' %}

{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'includes/messages.html' %}

    <section class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
            <div class="profile">
                <div class="profile">
                    <p class="profile-name">{% if user.first_name or user.last_name %}{{ user.first_name }} {{ user.last_name }}
                    {% else %}E.B. White{% endif %}</p>
                    <p class="profile-info">Email <span>{{ user.email }}</span></p>
                    <p class="profile-info">Joined <span>{{ user.date_joined|date:"F Y" }}</span></p>
                    <p class="profile-info">User <span>{{ user.id }}</span></p>
                    <p class="profile-info">Budgets <span>{{ budget_count }}</span></p>
                    <p class="profile-info">Transactions <span>{{ transaction_count }}</span></p>

                    <ul class="profile-nav">
                        <li class="profile-link">{% if user.is_staff %}<a href="/admin/">Admin</a>{% endif %}</li>
                        <li class="profile-link"><a href="{% url 'wilbur:edit-password' %}">Edit Password</a></li>
                        <li class="profile-link"><a href="{% url 'wilbur:logout' %}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-6">
            <div class="profile-form">
                <h2>Update Profile</h2>
                {% include 'profile/edit_form.html' %}
            </div>
        </div>
    </section>

{% endblock %}