{% extends 'base_navbar.html' %}

{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'includes/messages.html' %}

    <section class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
            <p class="wilbur large color-success mar-t-0 mar-b-2">{% if user.first_name or user.last_name %}{{ user.first_name }} {{ user.last_name }}
            {% else %}E.B. White{% endif %}</p>
            <p class="lead color-default mar-tb-2">Email <span class="semi-bold">{{ user.email }}</span></p>
            <p class="lead color-default mar-tb-2">Joined <span class="semi-bold">{{ user.date_joined|date:"F Y" }}</span></p>
            <p class="lead color-default mar-tb-2">User <span class="semi-bold">{{ user.id }}</span></p>
            <p class="lead color-default mar-tb-2">Budgets <span class="semi-bold">{{ budget_count }}</span></p>
            <p class="lead color-default mar-tb-2">Transactions <span class="semi-bold">{{ transaction_count }}</span></p>

            {% if user.is_staff %}<a class="button-outline-default small mar-r-1" href="/admin/" role="button">Admin</a>{% endif %}
            <a class="button-outline-default small mar-r-1"  href="{% url 'wilbur:profile-password-edit' %}" role="button">Edit Password</a>
            <a  class="button-outline-default small" href="{% url 'wilbur:logout' %}" role="button">Log Out</a>
        </div>

        <div class="col-md-5 col-sm-6">
            <h2 class="mar-tb-3">Edit Profile</h2>
            {% include 'profile/edit_form.html' %}
        </div>
    </section>

{% endblock %}