{% extends 'base_navbar.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% include 'includes/message.html' %}

    <section class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="profile">
                <div class="profile">
                    <p class="profile-name">{% if user.first_name or user.last_name %}{{ user.first_name }} {{ user.last_name }}
                    {% else %}E.B. White{% endif %}</p>
                    <p class="profile-info">Email <span>{{ user.email }}</span></p>
                    <p class="profile-info">Joined <span>{{ user.date_joined }}</span></p>
                    <p class="profile-info">User <span>{{ user.id }}</span></p>
                    <p class="profile-info">Budgets <span>{{ budget_count }}</span></p>
                    <p class="profile-info">Transactions <span>{{ transaction_count }}</span></p>

                    <ul class="profile-nav">
                        <li><a class="profile-link" href="{% url 'wilbur:logout' %}">Log Out</a></li>
                        <li>{% if user.is_staff %}<a class="profile-link" href="/admin/">Admin</a>{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="profile-form">
                <h2>Edit Profile</h2>
                {% include 'profile/edit_form.html' %}
            </div>
        </div>
    </section>

{% endblock %}