html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: $font-size;
  margin-bottom: $footer-height;
}

a {
  @include link($green, $green-dark);
  font-family: $sans;
  text-decoration: none;
}

hr {
  margin: 1rem 0;
  border: 1px solid $gray-lightest;
}

body > .container {
  @include clearfix();
  padding-bottom: $footer-height - 20px;
}

.row { @include clearfix(); }
