* {
  @include vendor-prefix(box-sizing, border-box);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  min-height: 100%;
  position: relative;
}

body {
  font-family: $sans;
  margin-bottom: $footer-height;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  color: $gray-dark;
  font-family: $sans;
}

hr {
  margin: 1rem 0;
  border: 1px solid $gray-lightest;
}

body > .container {
  @include clearfix();
  padding-bottom: $footer-height - 20px;
}

.row {
  @include clearfix();
}