@mixin button-fill($background, $background2) {
  @extend .button;
  background-color: $background;
  color: $white;
  border-color: $background;

  &:hover {
    background-color: $background2;
    color: $white;
    border-color: $background2;
  }
}

@mixin button-outline($color-text, $color-border, $color-border2) {
  @extend .button;
  color: $color-text;
  background-color: $white;
  border-color: $color-border;

  &:hover {
    color: $color-text;
    border-color: $color-border2;
  }
}

.button {
  transition: 0.25s;
  border-radius: $border-radius;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: $sans;
  text-decoration: none;
  padding: 10px 15px;
  font-size: .9rem;
  color: $white;
  border: 1px solid;
  margin: 0;

  &.small {
    padding: 6px 15px;
  }

  &.large {
    font-size: .95rem;
    padding: 11px 25px;
  }

  &.disabled {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@each $name, $background, $background2 in
                (default, $gray, $gray-dark),
                (error, $red, $red-dark),
                (warning, $yellow, $yellow-dark),
                (success, $green, $green-dark),
                (info, $blue, $blue-dark) {
  .button-#{$name} { @include button-fill($background, $background2) }
}

@each $name, $color-text, $color-border, $color-border2 in
                (default, $gray-darkest, $gray-light, $gray-dark),
                (error, $red, $red-dark, $red-dark),
                (warning, $yellow, $yellow-dark, $yellow-dark),
                (success, $green, $green-dark, $green-dark),
                (info, $blue, $blue-dark, $blue-dark) {
  .button-outline-#{$name} { @include button-outline($color-text, $color-border, $color-border2) }
}