@import "variables";
@import "mixins";
@import "helpers";

.footer {
  background-color: $gray-lightest;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  border-top: 1px solid $gray-light;

  &::after { clear: both; }
}

.footer-inline {
  @extend .mar-0;
  text-align: center;
  padding: 1.5rem 0;
  font-size: .9rem;

  li:first-child { @extend .mar-l0; }

  li {
    @extend .mar-l3;
    display: inline-block;
    font-family: $sans;
    list-style-type: none;

    @media screen and (max-width: $small) { margin-left: .75rem; }
  }

  a { @include link($gray, $gray-dark); }
}