form {
  color: $gray-dark;
}

.form {
  margin: 1rem 0;
}

.form-group {
  margin-bottom: 1rem;
  min-height: 63px;
}

.form-label {
  margin-bottom: 5px;
  font: .9rem $sans;

  &.required {
    font-weight: 600;
  }
}

.form-label-accessory {
  padding-top: 2px;
  float: right;
  color: $gray-light;
  font: .9rem $sans;
}

.form-control {
  @include vendor-prefix(box-sizing, border-box);
  @include vendor-prefix(transition, 0.25s);
  @include vendor-prefix(appearance, none);
  @include vendor-prefix(border-radius, 4px);
  margin-top: 3px;
  width: 100%;
  padding: 6px 14px;
  border: 2px solid $gray-lighter;
  outline: 0;
  font: 1rem $sans;
  color: $gray-dark;

  &:hover {
    border-color: $gray-light;
  }

  &:focus {
    border-color: $gray-dark;
  }

  &.small {
    margin: 1rem 0;
    height: 10%;
    width: 150px;
    border-width: 1px;
    font-size: .9rem;
    font-weight: 600;

    &:hover {
      border-color: $gray-light;
    }
  }
}

.form-errors {
  margin-top: .25rem;

  & li {
    list-style-type: none;
    font-size: .8rem;
    font-weight: normal;
    color: $red;
  }
}