@mixin meter-bar($color) {
  transition: width 3s;
  float: left;
  width: 0;
  height: 100%;
  font-size: .95rem;
  line-height: 20px;
  text-align: right;
  padding-right: .25rem;
  background-color: $color;
}

.meter { @include clearfix(); }

.meter-default { @include meter-bar(none); }
.meter-info { @include meter-bar($blue); }
.meter-success { @include meter-bar($green); }
.meter-warning { @include meter-bar($yellow); }
.meter-error { @include meter-bar($red); }

.meter-title {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .description {
    color: $gray;
    @media screen and (max-width: $sm - 150) {
      display: none;
    }
  }
}

.meter-container {
  border-radius: $border-radius;
  clear: both;
  height: 1.5rem;
  overflow: hidden;
  background-color: $gray-lightest;
}

.meter-footer {
  font-size: 0.9rem;

  p, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  p { color: $gray; }

  ul > li {
    display: inline-block;
    margin-left: 1rem;
  }

  a { @include link($gray, $gray-dark); }
}