@mixin clearfix() {
  &:after {
    clear: both;
  }

  &:after, &:before {
    content: " ";
    display: table;
  }
}

@mixin link($color, $color2) {
  color: $color;

  &:hover { color: $color2; }
}