.navbar {
  @extend .mar-0;
  height: $navbar-height;
  background-color: $green;

  .navbar-left {
    @extend .pad-t-0;
    float: left;
    @media screen and (max-width: $sm) { display: none; }
  }

  .navbar-right {
    float: right;
    @media screen and (max-width: $sm) { float: none; }
  }

  .brand {
    font-family: $cursive;
    font-size: 2rem;
    color: $white;
  }

  .nav-inline {
    @extend .pad-t-1;
    @extend .mar-b-0;
    padding-left: 0;
    text-align: center;

    li:first-child { @extend .mar-l-0 }

    li {
      margin-left: 36px;
      display: inline-block;
      font-family: $sans;
      list-style-type: none;

      &.current {
        border-bottom: 4px solid $green-dark - 20;
        padding-bottom: 9px;
      }

      @media screen and (max-width: $sm) {
        margin-left: 1rem;
      }
    }

    a {
      color: $white;

      &:hover {
        border-bottom: 4px solid $green-dark - 25;
        padding-bottom: 9px;
      }
    }
  }
}