.overview-callout {
  margin: 1rem 0 2rem;
  font-size: 1.85rem;
  color: $gray-dark;

  &.small {
    display: block;
    margin: 1rem 0 1.5rem;
    border-left: 4px solid $gray-light;
    padding-left: 15px;
    font-size: 1.25rem;
    color: $gray-dark;

    &:hover {
      border-left-color: $gray-darkest;
      color: $gray-darkest;
    }
  }
}

.overview-name {
  font-family: $cursive;
  color: $green;
  font-size: 2.5rem;
}

.overview-stat {
  border-radius: 4px;
  margin: 0 2px;
  padding: 4px 10px;
  color: $white;
  font-weight: 600;

  &.small {
    padding: 1px 6px;
  }
}

.overview-span {
  font-weight: 600;
}

.overview-spacer {
  margin-bottom: 2.5rem;
}