.pager {
  @include clearfix();
  float: right;
  padding: 0;

  li {
    float: left;
    display: inline;
  }

  a {
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-family: $sans;
    text-decoration: none;
    border: 1px solid $gray-light;
    border-left: none;
    padding: 6px 15px;
    color: $gray-darkest;
    @extend .text-small;

    &:hover { background-color: $gray-light; }

    &.disabled {
      color: $gray-dark + 15;
      background-color: $gray-lightest;
      cursor: not-allowed;
    }

    &.current {
      background-color: $green;
      color: $white;
    }

    &.previous {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 1px solid $gray-light;
    }

    &.next {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.pager-total {
  @extend .color-default;
  float: left;

  span { @extend .semi-bold; }
}