.cd-popup {
  @include vendor-prefix(transition, all 0.3s);
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  opacity: 0;
  visibility: hidden;
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.cd-popup-container {
  @include vendor-prefix(transform, translateY(-40px));
  @include vendor-prefix(transition-property, transform);
  @include vendor-prefix(transition-duration, 0.3s);
  @include vendor-prefix(border-radius, 4px);
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  //border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  p {
    font: 400 1rem $sans;
    padding: .75rem 1rem;
  }
  .cd-buttons {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li {
      float: left;
      width: 50%;
    }
    a {
      font: 600 1rem $sans;
      display: block;
      height: 60px;
      line-height: 60px;
      color: #FFF;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }
  }
}

li {
  list-style-type: none;
}

.cd-popup-container .cd-buttons li:first-child a {
  @include vendor-prefix(transition, 0.25s);
  background: $red;
  border-radius: 0 0 0 .25em;

  &:hover {
    background-color: $red-dark;
  }
}

.cd-popup-container .cd-buttons li:last-child a {
  @include vendor-prefix(transition, 0.25s);
  background: $gray;
  border-radius: 0 0 .25em 0;

  &:hover {
    background-color: $gray-dark;
  }
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}

.popup-close {
  cursor: pointer;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
  }
  &::before {
    @include vendor-prefix(transform, rotate(45deg));
    left: 8px;
  }
  &::after {
    @include vendor-prefix(transform, rotate(-45deg));
    right: 8px;
  }
}

.is-visible .cd-popup-container {
  @include vendor-prefix(transform, translateY(0));
}

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}