.progress {
  clear: both;
  margin: 0 0 2.25rem;
}

.progress-title {
  font-size: 1.15rem;

  & a {
    font-weight: 600;
  }

  & span {
    color: $gray;
  }
}

.progress-container {
  @include vendor-prefix(border-radius, 4px);
  clear: both;
  height: 1.5rem;
  overflow: hidden;
  background-color: $gray-lightest;
}

.progress-bar {
  @include vendor-prefix(transition, all 2s ease-out);
  float: left;
  width: 0;
  height: 100%;
  font-size: .95rem;
  line-height: 20px;
  text-align: right;
  padding-right: .25rem;
}

.progress-green {
  background-color: $green;
}

.progress-yellow {
  background-color: $yellow;
}

.progress-red {
  background-color: $red;
}

.progress-footer {
  font-size: .9rem;

  ul > li {
    display: inline-block;
    margin-left: 1rem;
  }

  a {
    color: $gray;

    &:hover {
      color: $gray-dark;
    }
  }

  p {
    color: $gray;
  }
}