.description {
  @media screen and (max-width: $small - 150) {
    display: none;
  }
}

.welcome {
  margin: 5.5rem 0 1rem;
  text-align: center;
  font: 500 36px $cursive;
  color: $green;
}

.registration-link {
  font-size: .95rem;
  margin-top: 3rem;
  text-align: center;
  color: $gray-light;

  & a {
    color: $green;

    &:hover {
      color: $green-dark;
    }
  }
}

.profile {
  margin: 1rem 0;
}

.profile-name {
  margin-left: -.25rem;
  margin-bottom: .65rem;
  font: normal 2.5rem $cursive;
  color: $green;
}

.profile-info {
  margin: .65rem 0;
  font: normal 1.25rem $sans;
  color: $gray-light;

  & span {
    font-weight: 600;
  }
}

.profile-nav {
  margin-top: 1.5rem;

  li {
    display: inline-block;
  }
}

.profile-link {
  margin-bottom: 1.75rem;

  a {
    @include button-form($gray-lighter, $gray, $gray-lighter);
    margin-right: .75rem;
  }
}

.profile-form {
  margin-top: 2.25rem;
}