.description {
  @media screen and (max-width: $small - 150) {
    display: none;
  }
}

.welcome {
  margin: 5.5rem 0 1rem;
  text-align: center;
  font: 500 36px $cursive;
  color: $green;
}

.registration-link {
  font-size: .95rem;
  margin-top: 3rem;
  text-align: center;
  color: $gray-light;

  & a {
    color: $green;

    &:hover {
      color: $green-dark;
    }
  }
}