@import "variables";
@import "mixins";

.guide-header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

//
// Base - Good
// --------------------------------------------------

body {
  @extend .mar-2;
  font-size: $font-size
}

hr {
  margin: 1rem 0;
  border: 1px solid $gray-lightest;
}

a {
  @include link($green, $green-dark);
  font-family: $sans;
  text-decoration: none;
}

//
// Typography - Done
// --------------------------------------------------

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-family: $sans;
  color: $gray-darkest;
}

h2, h3, h4,
.h2, .h3, .h4 { font-weight: 600; }

h1, .h1 {
  font-size: $font-size-h1;
  font-weight: 700;
}

h2, .h2 { font-size: $font-size-h2; }

h3, .h3 {
  font-size: $font-size-h3;
  font-style: italic;
}

h4, .h4 {
  color: $gray-dark;
  font-size: $font-size-h4;
}

p {
  font-family: $sans;
  font-weight: 400;
  color: $gray-darkest;
  line-height: $line-height;
  font-size: 1rem;

  &.lead { font-size: 1.2rem }
  &.small { font-size: .9rem}
}

b, strong, .bold { font-weight: 700; }

.semi-bold { font-weight: 600; }

.text-small { font-size: .9rem }

.wilbur {
  font-family: $cursive;
  font-weight: 400;

  &.large { font-size: 2.5rem }
}

//
// Buttons - Done
// --------------------------------------------------

.button {
  transition: 0.25s;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: $sans;
  text-decoration: none;
  padding: 10px 15px;
  font-size: .9rem;
  color: $white;
  border: 1px solid;
  margin: 0;

  &.small {
    padding: 6px 15px;
  }

  &.large {
    font-size: .95rem;
    padding: 11px 25px;
  }

  &.disabled {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@each $name, $background, $background2 in
                (default, $gray, $gray-dark),
                (error, $red, $red-dark),
                (warning, $yellow, $yellow-dark),
                (success, $green, $green-dark),
                (info, $blue, $blue-dark) {
  .button-#{$name} { @include button-fill($background, $background2) }
}

@each $name, $color-text, $color-border, $color-border2 in
                (default, $gray-darkest, $gray-light, $gray-dark),
                (error, $red, $red-dark, $red-dark),
                (warning, $yellow, $yellow-dark, $yellow-dark),
                (success, $green, $green-dark, $green-dark),
                (info, $blue, $blue-dark, $blue-dark) {
  .button-outline-#{$name} { @include button-outline($color-text, $color-border, $color-border2) }
}

//
// Forms - Done
// --------------------------------------------------

form {
  color: $gray-darkest;
  font-family: $sans;
}

.form-group {
  margin-bottom: 1.15rem;
}

.form-label {
  @include clearfix();
  font-size: .9rem;
  margin-bottom: 5px;

  label {
    float: left;
    color: $gray-darkest;

    &.required { font-weight: 600; }
  }

  .accessory {
    float: right;
    color: $gray;

    & a:hover { color: $green; }
  }
}

.form-control {
  box-sizing: border-box;
  transition: 0.25s;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  padding: 6px 14px;
  border: 2px solid $gray-light;
  outline: 0;
  font-size: 1rem;
  font-family: $sans;
  color: $gray-darkest;

  &:hover { border-color: $gray; }

  &:focus { border-color: $gray-darkest; }

  &.large { height: 40px; }

  &.small {
    @extend .text-small;
    height: 10%;
    width: 150px;
    border-width: 1px;
    font-weight: 600;

    &:hover {
      border-color: $gray;
    }
  }

  &.error { border-color: $red; }
}

.form-errors {
  margin-top: 2px;

  ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style-type: none;
    font-size: .8rem;
    font-weight: normal;
    color: $red;
  }
}

//
// Tables - Done
// --------------------------------------------------

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  font-family: $sans;
}

th, td {
  line-height: 2.5;
  padding: 0 1.25rem;
  color: $gray-darkest;
  text-align: left;

  @media screen and (max-width: $sm - 150) {
    padding: 0 0.75rem;
  }
}

th {
  font-weight: 600;
  background: $white;
}

td {
  border-top: 1px solid $gray-light;
}

tbody tr:nth-child(odd) {
  background-color: $white;
}

tbody tr:nth-child(even) {
  background-color: $gray-lightest;
}

th:first-child { border-top-left-radius: 4px; }

th:last-child { border-top-right-radius: 4px; }

td:first-child { border-bottom-left-radius: 4px; }

td:last-child { border-bottom-right-radius: 4px; }

.table-bordered {
  border-radius: 4px;
  border: 1px solid $gray-light;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

//
// Pagination - Done
// --------------------------------------------------

.pager {
  @include clearfix();
  padding: 0;

  li {
    float: left;
    display: inline;
  }

  a {
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-family: $sans;
    text-decoration: none;
    border: 1px solid $gray-light;
    border-left: none;
    padding: 6px 15px;
    color: $gray-darkest;
    @extend .text-small;

    &:hover { background-color: $gray-light; }

    &.disabled {
      color: $gray-dark + 15;
      background-color: $gray-lightest;
      cursor: not-allowed;
    }

    &.current {
      background-color: $green;
      color: $white;
    }

    &.previous {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 1px solid $gray-light;
    }

    &.next {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.pager-total {
  @extend .color-default;

  span { @extend .semi-bold; }
}

//
// Messages - Done
// --------------------------------------------------

.message-error { @include message($red); }
.message-warning { @include message($yellow); }
.message-success { @include message($green); }
.message-info { @include message($blue); }
.message-default { @include message($gray); }

//
// Meters - Done
// --------------------------------------------------

.meter { @include clearfix(); }

.meter-title {
  p {
    @extend .mar-t0;
    @extend .mar-b1;
  }
  .description {
    color: $gray;
    @media screen and (max-width: $sm - 150) {
      display: none;
    }
  }
}

.meter-container {
  border-radius: 4px;
  clear: both;
  height: 1.5rem;
  overflow: hidden;
  background-color: $gray-lightest;
}

.meter-default { @include meter-bar(none); }
.meter-info { @include meter-bar($blue); }
.meter-success { @include meter-bar($green); }
.meter-warning { @include meter-bar($yellow); }
.meter-error { @include meter-bar($red); }

.meter-footer {
  font-size: 0.9rem;

  p, ul {
    @extend .mar-t1;
    @extend .mar-b0;
  }

  p { color: $gray; }

  ul > li {
    display: inline-block;
    margin-left: 1rem;
  }

  a { @include link($gray, $gray-dark); }
}

//
// Dialogs - Done
// --------------------------------------------------

.dialog {
  transition: all 0.3s;
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  opacity: 0;
  visibility: hidden;
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.dialog-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
  border-radius: 4px;
  backface-visibility: hidden;
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background-color: $white;
  text-align: center;
  font-family: $sans;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  @media only screen and (min-width: 1170px) {
    margin: 8em auto;
  }
}

.is-visible .dialog-container { transform: translateY(0); }

.dialog-title {
  padding: .5rem 1rem;
  color: $gray-dark;
  border-bottom: 1px solid $gray-light;

  .dialog-close {
    position: absolute;
    right: 0;
    top: .075rem;
    display: block;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.dialog-body { padding: .5rem 1.5rem 1.5rem; }

.dialog-buttons {
  @include clearfix();
  margin-top: 2rem;
}

//
// Token - Done
// --------------------------------------------------

@each $name, $background in
                (error, $red),
                (warning, $yellow),
                (success, $green),
                (info, $blue) {
  .token-#{$name} { @include token($background) }
}

//
// Helpers
// --------------------------------------------------

.pull-left { float: left !important; }
.pull-right { float: right !important; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.color-default { color: $gray; }
.color-error { color: $red; }
.color-warning { color: $yellow; }
.color-success { color: $green; }
.color-info { color: $blue; }

.background-default { background-color: $gray; }
.background-error { background-color: $red; }
.background-warning { background-color: $yellow; }
.background-success { background-color: $green; }
.background-info { background-color: $blue; }

@each $level, $size in (0, 0), (1, 6px), (2, 12px), (3, 18px), (4, 24px), (5, 30px), (6, 36px) {
  .mar-#{$level} { margin: #{$size}; }
  .mar-t#{$level} { margin-top: #{$size}; }
  .mar-r#{$level} { margin-right: #{$size}; }
  .mar-b#{$level} { margin-bottom: #{$size}; }
  .mar-l#{$level} { margin-left: #{$size}; }
  .mar-tb#{$level} { margin: #{$size} inherit; }
}

@each $level, $size in (0, 0), (1, 6px), (2, 12px), (3, 18px), (4, 24px), (5, 30px), (6, 36px) {
  .pad-#{$level} { padding: #{$size}; }
  .pad-t#{$level} { padding-top: #{$size}; }
  .pad-r#{$level} { padding-right: #{$size}; }
  .pad-b#{$level} { padding-bottom: #{$size}; }
  .pad-l#{$level} { padding-left: #{$size}; }
  .pad-tb#{$level} { padding: #{$size} inherit; }
}

// Style attributes

code {
  font-size: 14px;
  line-height: 18px;
  font-family: "Source Code Pro", Consolas, "Lucida Console", Courier, monospace;
  color: #a11;
  word-spacing: normal;
  word-wrap: break-word
}

.color-disc {
  border-radius: 50px;
  display: inline-block;
  height: 100px;
  width: 100px;
}

