.guide-header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

code {
  font-size: 14px;
  line-height: 18px;
  font-family: "Source Code Pro", Consolas, "Lucida Console", Courier, monospace;
  color: #a11;
  word-spacing: normal;
  word-wrap: break-word
}

.color-disc {
  border-radius: 50px;
  display: inline-block;
  height: 100px;
  width: 100px;
}

