// colors
$gray: #ababab;
$gray-dark: #9e9e9e;
$gray-darkest: #666666;
$gray-light: #E5E5EA;
$gray-lightest: #F9F9F9;
$white: #fff;

$darken: 3%;
$blue: #5898f1;
$blue-dark: darken($blue, $darken);
$green: #00b27f;
$green-dark: darken($green, $darken);
$yellow: #ec971f;
$yellow-dark: darken($yellow, $darken);
$red: #FA5744;
$red-dark: darken($red, $darken);

// fonts
$sans: 'Open Sans', sans-serif;
$cursive: 'Pacifico', cursive;

$font-size: 100%;
$font-size-h1: 2.25rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;

// heights
$line-height: 1.5;
$navbar-height: 57px;
$footer-height: 70px;

// widths
// Extra small screen / phone
$xs: 0;
// Small screen / phone
$sm: 544px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 992px;
// Extra large screen / wide desktop
$xl: 1200px;

$border-radius: 4px;