// colors
$gray: #9e9e9e;
$gray-dark: #666666;
$gray-light: #ababab;
$gray-lighter: #E5E5EA;
$gray-lightest: #F9F9F9;
$green: #00b27f;
$green-dark: #00a577;
$red: #FA5744;
$red-dark: #ed5643;
$white: #fff;
$yellow: #ec971f;
$blue: #5898f1;

// fonts
$sans: 'Open Sans', sans-serif;
$cursive: 'Pacifico', cursive;
$font-size: 100%;
$line-height: 1.5;

// widths
$small: 667px;

// miscellaneous
$footer-height: 70px;
