{% extends 'base_no_navbar.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h1 class="welcome">Welcome to Wilbur.</h1>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form method="post" action="{% url 'wilbur:signup' %}">
                {% csrf_token %}
                <div class="form-section">
                    <label for="inputEmail">Email</label>
                    <input type="email" name="email" class="form-input" id="inputEmail" placeholder="charlotte@web.net" autofocus>
                </div>
                <div class="form-section">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" class="form-input" id="inputPassword" placeholder="Super, secret">
                </div>
                <div class="form-section">
                    <label for="inputConfirm">Confirm Password</label>
                    <input type="password" name="password" class="form-input" id="inputConfirm" placeholder="You know the drill.">
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
                <button type="submit" class="button-login">Sign Up</button>
            </form>
        </div>
    </div>

{% endblock %}