<div class="row">
    <div class="top-bar small-10 small-centered columns">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Casper</li>
                <li><a href="{% url 'budget:overview' %}">Overview</a></li>
                <li><a href="{% url 'budget:budget' %}">Budget</a></li>
                <li><a href="{% url 'budget:transactions' %}">Transactions</a></li>
                <li><a href="{% url 'budget:add-transaction' %}">Add Transaction</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="{% url 'budget:logout' %}">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>

