<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="navbar-left">
                    <a class="brand" href="{% url 'budget:transactions' %}">Wilbur</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav-inline">
                        <li {% if title == 'Budgets' %}class="current"{% endif %}><a href="{% url 'budget:budgets' %}">Budgets</a></li>
                        <li {% if title == 'Transactions' %}class="current"{% endif %}><a href="{% url 'budget:transactions' %}">Transactions</a></li>
                        <li><a href="{% url 'budget:logout' %}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>