<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Casper</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'budget:overview' %}">Overview</a></li>
                <li><a href="{% url 'budget:budget' %}">Budget</a></li>
                <li><a href="{% url 'budget:transactions' %}">Transactions</a></li>
                <li><a href="{% url 'budget:add-transaction' %}">Add Transaction</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="disabled">{{ user.last_name }}, {{ user.first_name }}</a></li>
                <li><a href="{% url 'budget:logout' %}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
