<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Budget{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'budget/css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'budget/css/styles.css' %}" />

    <script src="{% static 'budget/js/jquery.min.js' %}"></script>
    <script src="{% static 'budget/js/foundation.min.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>