{% extends 'base_navbar.html' %}

{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="toolbar">
                <a href="{% url 'budget:add-budget' %}" class="button-toolbar">Add Budget</a>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% for budget in budget_list %}
                <div class="progress">
                    <div class="progress-title">
                        <p class="pull-left">{{ budget.name|capfirst }} <span>{{ budget.description|lower }}</span></p>
                        <p class="pull-right">${{ budget.amount_left|floatformat:0|intcomma }} left</p>
                    </div>
                    <div class="progress-background">
                        <div class="progress-bar
                        {% if budget.percent == 0 %}progress-empty
                        {% elif budget.percent < 85 and budget.percent > 0 %}progress-green
                        {% elif budget.percent > 86 and budget.percent < 95 %}progress-yellow
                        {% else %}progress-red{% endif %}"
                             role="progressbar" aria-valuenow="{{ budget.percent }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {% if budget.percent == 0 %}10{% elif budget.percent <= 100 and budget.percent > 0 %}{{ budget.percent }}{% else %}100{% endif %}%;">
                            ${{ budget.amount_spent|floatformat:0|intcomma }} of ${{ budget.amount|floatformat:0|intcomma }}
                        </div>
                    </div>
                    <div class="progress-footer">
                        <ul class="pull-right">
                            <li><a href="{% url 'budget:edit-budget' budget.id %}">Edit</a></li>
                            <li><a href="#">View Transactions</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
