{% extends 'base.html' %}

{% block title %}Budget - Budget{% endblock %}
{% block content %}

{% include 'navbar.html' %}

{% widthratio budget.get_sum_transactions budget.amount 100 as spent_percentage %}

<br>
<br>

<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Budget</h3>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        <div class="clearfix">
            <h4 class="subheader float-left">Total spent for {% now "F" %}</h4>
            <a href="#" class="small hollow button float-right">Edit budget</a>
        </div>
        <div class="stat">{{ spent_percentage }}%</div>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        {% with budget.get_percent_spent as total %}
        <div class="{% if total <= 40 %}success{% elif total > 40 and total <= 80 %}warning{% else %}alert{% endif %} progress"
             role="progressbar" tabindex="0" aria-valuenow="{{ item.get_sum_transactions }}"
             aria-valuemin="0"
             aria-valuetext="{{ spent_percentage }} percent" aria-valuemax="{{ budget.amount }}">
            <div class="progress-meter" style="width: {{ spent_percentage }}%"></div>
        </div>
        {% endwith %}
        <p class="lead">${{ budget.get_sum_transactions }} out of ${{ budget.amount }}</p>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        <hr>
    </div>
</div>

{% for item in items %}
{% widthratio item.get_sum_transactions item.amount 100 as spent_percentage %}
<div class="row">
    <div class="small-10 small-centered columns">
        <h4 class="subheader">{{ item.type.name }}</h4>
        <div class="stat">{{ spent_percentage }}%</div>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        {% with item.get_percent_spent as total %}
        <div class="{% if total <= 40 %}success{% elif total > 40 and total <= 80 %}warning{% else %}alert{% endif %} progress"
             role="progressbar" tabindex="0"
             aria-valuenow="{{ item.get_sum_transactions }}"
             aria-valuemin="0"
             aria-valuetext="{{ spent_percentage }} percent" aria-valuemax="{{ item.amount }}">
            <div class="progress-meter" style="width: {{ spent_percentage }}%"></div>
        </div>
        {% endwith %}
        <p class="lead">${{ item.get_sum_transactions }} out of ${{ item.amount }}</p>
    </div>
</div>
{% endfor %}

<br>
{% endblock %}