{% extends 'base.html' %}

{% block title %}Budget - Expenses{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<br>
<br>

<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Expenses <span class="subheader">5000</span></h3>
    </div>
</div>

<div class="row">
    <table class="small-10 small-centered columns hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.frequency }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}