{% extends 'base.html' %}

{% block title %}Budget - Transactions{% endblock %}
{% block content %}

{% include 'navbar.html' %}

{% widthratio total_spent budget.amount 100 as spent_percentage %}

<br>
<br>

<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Transactions</h3>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        <table class="hover">
            <thead>
            <tr>
                <th width="250">Date</th>
                <th width="250">Type</th>
                <th width="250">Amount</th>
                <th width="250">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.item.type.name }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>
{% endblock %}