{% extends 'base_navbar.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="small-10 small-centered columns">
            <form method="post" action="{% url 'budget:edit-budget' budget_id %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="large button"/>
                <a class="secondary large button" href="{% url 'budget:budget' %}">Cancel</a>
                <a class="alert large button" href="{% url 'budget:delete-budget' budget_id %}">Delete</a>
            </form>
        </div>
    </div>

{% endblock %}
