{% extends 'base.html' %}

{% block title %}Budget - Edit Transaction{% endblock %}
{% block content %}

{% include 'includes/navbar.html' %}


<br>
<br>

<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Edit Transaction</h3>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        <form method="post" action="{% url 'budget:edit-transaction' transaction_id %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Edit Transaction" class="large button"/>
            <a class="secondary large button" href="{% url 'budget:transactions' %}">Cancel</a>
            <a class="alert large button" href="{% url 'budget:delete-transaction' transaction_id %}">Delete</a>
        </form>
    </div>
</div>

<br>
{% endblock %}