{% extends 'base.html' %}

{% block title %}Budget - Edit Item{% endblock %}
{% block content %}

{% include 'includes/navbar.html' %}


<br>
<br>

<div class="row">
    <div class="small-10 small-centered columns">
        <h3>Edit Item</h3>
    </div>
</div>

<div class="row">
    <div class="small-10 small-centered columns">
        <form method="post" action="{% url 'budget:edit-item' item_id %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="large button" />
            <a class="secondary large button" href="{% url 'budget:budget' %}">Cancel</a>
            <a class="alert large button" href="{% url 'budget:delete-item' item_id %}">Delete</a>
        </form>
    </div>
</div>

<br>
{% endblock %}