.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  a {
    color: $green;
    text-decoration: none;

    &:hover {
      color: $green-dark;
    }
  }

  th {
    font-size: .95rem;
  }

  td, th {
    padding: .35rem .75rem;
    line-height: 1.75;
    text-align: left;
    color: $gray-dark;
  }

  thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $gray-lighter;
  }

  tbody > tr > td {
    vertical-align: top;
    border-top: 1px solid $gray-lighter;
  }

  tbody tr:nth-child(even) {
    background: $white;
  }

  tbody tr:nth-child(odd) {
    background: $gray-lightest;
  }
}

.bordered {
  @include vendor-prefix(border-radius, 4px);
  border: 1px solid $gray-lighter;
}

.responsive {
  min-height: .01%;
  overflow-x: auto;
}
