{% extends '../templates/base/../../../wilbur/templates/base_navbar_no_header.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section class="row">
        <header class="col-sm-10 col-sm-offset-1">
            <h1 class="promo"><span class="wilbur">Wilbur</span> tracks your monthly budgets.</h1>
        </header>
    </section>

    <section class="row">
        <div class="col-sm-10 col-sm-offset-1 get-started">
            <a href="{% url 'wilbur:signup' %}" role="button">Get started with Wilbur</a>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-10 col-sm-offset-1">

        </div>
    </section>

{% endblock %}