{% extends 'base_navbar_no_header.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section class="row">
        <header class="col-md-10 col-md-offset-1 col-sm-12">
            <h1 class="promo">{{ title }}.</h1>
        </header>
    </section>

    <section class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 get-started">
            <a href="{% url 'wilbur:signup' %}" role="button">Get started with Wilbur</a>
        </div>
    </section>

    <section class="row">
        <div class="preview animated fadeIn">
            {% load staticfiles %}
            <img src="{% static 'img/preview.png' %}" class="preview-image">
        </div>
    </section>

{% endblock %}