{% extends 'base_navbar.html' %}

{% load humanize %}
{% load mathfilters %}
{% load budgets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if budget_list %}
        <section class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <p class="text-large mar-t-0 mar-b-1">
                    <span class="wilbur large color-success">Hey {{ user.first_name|default:"friend" }}</span> , you have
                    <span class="token-{% if remaining_percent <= 100 and remaining_percent >= 15 %}success
                        {% elif remaining_percent > 5 and remaining_percent < 16 %}warning
                        {% else %}error{% endif %}">${{ remaining|floatformat:0|intcomma }}</span>
                    left in {% now "F Y" %}.
                </p>
            </div>
        </section>
    {% else %}
        {% include 'includes/empty.html' with empty_title="No Budgets" button_title="Add budget" button_link="wilbur:add-budget"|rev %}
    {% endif %}

{% endblock %}