<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Wilbur</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,600,700">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}"/>
</head>
<body>

<header class="row guide-header">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>{{ title }}</h1>
    </div>
</header>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Typography</h1>
        <hr>
        <h1>h1. Wilbur heading</h1>
        <h2>h2. Wilbur heading</h2>
        <h3>h3. Wilbur heading</h3>
        <h4>h4. Wilbur heading</h4>
        <h5>h5. Wilbur heading</h5>
        <h6>h6. Wilbur heading</h6>
        <p>The quick brown fox jumped over the lazy dogs. This sentence contains every letter in the alphabet. The quick brown fox jumped over the lazy dogs. This sentence contains every letter in the alphabet. The quick brown fox jumped over the lazy dogs. This sentence contains every letter in the alphabet.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Tables</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Forms</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Buttons</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Messages</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Progress Bars</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Pagination</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Colors</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Utilities</h1>
        <hr>
    </div>
</div>

</body>
</html>