<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Wilbur</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,600,700">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}"/>
</head>
<body>

<header class="row guide-header">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>{{ title }}</h1>
    </div>
</header>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Typography</h1>
        <hr>
        <h1>h1. Main heading</h1>
        <h2>h2. Sub page title</h2>
        <h3>h3. Section header</h3>
        <h4>h4. Sub section heading</h4>
        <p>Body content / copy</p>
        <p><b>Bold text</b></p>
        <p><a href="#">Link text</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Tables</h1>
        <hr>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Budget</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">table link</a>
                </td>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
            </tr>
            <tr>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>quick</td>
                <td>brown</td>
                <td>fox</td>
                <td>jumped</td>
            </tr>
            </tbody>
        </table>

        <br>

        <div class="table-bordered">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Budget</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="#">table link</a>
                    </td>
                    <td>One</td>
                    <td>Two</td>
                    <td>Three</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>quick</td>
                    <td>brown</td>
                    <td>fox</td>
                    <td>jumped</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Forms</h1>
        <hr>
        <label>Form label</label>
        <label class="required">label required</label>
        <p class="help-text">Help text</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Buttons</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Messages</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Progress Bars</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Pagination</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Colors</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Utilities</h1>
        <hr>
        <p class="text-left">Left</p>
        <p class="text-center">Center</p>
        <p class="text-right">Right</p>
        <p class="wilbur">Wilbur</p>
    </div>
</div>

</body>
</html>