.login {
    margin-top: 10rem;
}

.error {
    margin-top: 2rem;
}

.btn-toolbar {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
}

.btn-bottom-toolbar {
    margin-top: -1rem;
}
