* {
  @include vendor-prefix(box-sizing, border-box);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: $white;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  color: $gray-dark;
  font-family: $open-sans;
}

.row {
  clear: both;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}