body {
    background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, h6, p {
    color: $gray;
    font-family: $open-sans;
}

.btn-toolbar {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
}

.btn-bottom-toolbar {
    margin-top: -1rem;
}
