.footer {
  background-color: $gray-lightest;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  border-top: 1px solid $gray-lighter;

  &::after {
    clear: both;
  }
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer-inline {
  padding: 1.5rem 0;
  font-size: .9rem;

  li:first-child {
    margin-left: 0;
  }

  li {
    display: inline-block;
    font-family: $open-sans;
    margin-left: 1rem;
    list-style-type: none;

    @media screen and (max-width: $small) {
      margin-left: .75rem;
    }
  }

  a {
    color: $gray;

    &:hover {
      color: $gray-dark;
    }
  }
}