.form-crispy {
  margin: 1rem 0;
  color: $gray-dark;
}

.form-group {
  margin-bottom: 1rem;
  min-height: 63px;
}

.asteriskField {
  display: none;
}

.control-label {
  margin-bottom: 5px;
  font: .9rem $open-sans;
}

.requiredField {
  font-weight: 600;
}

.form-control {
  @include vendor-prefix(box-sizing, border-box);
  @include vendor-prefix(transition, 0.25s);
  @include vendor-prefix(appearance, none);
  @include vendor-prefix(border-radius, 4px);
  margin-top: 3px;
  width: 100%;
  padding: 6px 14px;
  border: 2px solid $gray-lighter;
  outline: 0;
  font: 1rem $open-sans;
  color: $gray-dark;

  &:focus {
    border-color: $gray-dark;
  }

  &.small {
    margin: 1rem 0;
    height: 10%;
    border-width: 1px;
    width: auto;
    font-size: .9rem;
    font-weight: 600;

    &:hover {
      border-color: $gray-light;
    }
  }
}

.help-block > strong {
  font-size: .8rem;
  font-weight: normal;
  color: $red;
}