@mixin vendor-prefix($name, $value) {
  -webkit-#{$name}: $value;
  -moz-#{$name}: $value;
  -ms-#{$name}: $value;
  -o-#{$name}: $value;
  #{$name}: $value;
}

@mixin button-form($color-background, $color-text, $color-hover) {
  @extend .button;
  border: 1px solid $color-background;
  padding: 6px 15px;
  background-color: $color-background;
  color: $color-text;
  font-size: .9rem;

  &:hover {
    background-color: $color-hover;
  }
}

@mixin clearfix() {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:after, &:before {
    content: " ";
    display: table;
  }
}