.navbar {
  position: relative;
  height: 60px;
  margin: 0 0 20px;
  border-bottom: 1px solid $gray-lighter;

  &::after {
    clear: both;
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.brand {
  font-family: $pacifico;
  font-size: 2rem;
  color: $green;
}

.on {
  border-bottom: 1px solid $green;
  padding-bottom: 15px;
}

.nav-inline {
  padding: 1.35rem 0;

  li {
    display: inline-block;
    font-family: $open-sans;
    margin-left: 2rem;

    @media screen and (max-width: $small) {
      margin-left: 1rem;
    }
  }

  a {
    color: $gray-dark;

    &:hover {
      border-bottom: 1px solid $green;
      padding-bottom: 15px;
    }
  }
}