{% extends 'base_navbar.html' %}

{% load budgets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if budget_list|length > 0 %}
        {% include 'includes/messages.html' %}

        <section class="row mar-b-3">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="{% url 'wilbur:add-budget' %}" class="button-outline-default small">Add budget</a>
                {% include 'includes/select_date.html' %}
            </div>
        </section>

        {% include 'budgets/meters.html' %}
    {% else %}
        {% include 'includes/empty.html' with empty_title="No Budgets" button_title="Add budget" button_link="wilbur:add-budget"|rev %}
    {% endif %}

{% endblock %}
