{% extends 'base_navbar.html' %}

{% load budgets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if budget_list|length > 0 %}
        {% include 'includes/message.html' %}

        <section class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <a href="{% url 'wilbur:add-budget' %}" class="button-toolbar active">Add budget</a>
                {% include 'includes/select_date.html' %}
            </div>
        </section>

        {% include 'budgets/budgets_progress.html' %}
    {% else %}
        {% include 'includes/empty_state.html' with empty_title="No Budgets" button_title="Add budget" button_link="wilbur:add-budget"|rev %}
    {% endif %}

{% endblock %}
