<form id="form-grab" class="form" method="post" action="{% url 'wilbur:edit-budget' budget.id %}" next="{% url 'wilbur:budgets' %}">
    {% csrf_token %}
    {% load staticfiles %}
    <script src="{% static 'js/coffeecounter.js' %}"></script>

    {% include 'includes/form_fields.html' %}

    <button id="form-submit" type="submit" class="button-submit">Save</button>
    <a href="{% url 'wilbur:budgets' %}" class="button-cancel" role="button">Cancel</a>
    <a class="button-delete pull-right popup-trigger" role="button">Delete</a>

    <script>
        $("#id_description").coffeeCounter();
    </script>

    {% load staticfiles %}
    <script src="{% static 'js/validator.js' %}"></script>

    {% include 'budgets/delete_popup.html' %}
</form>