{% load humanize %}
{% load mathfilters %}

<section class="meter mar-b-3">
    <div class="meter-title">
        <p class="pull-left lead">{{ budget.name.title }} <span class="description">{{ budget.description }}</span></p>
        <p class="pull-right lead">${{ budget.amount_left|abs|floatformat:0|intcomma }}
            {% if budget.amount_left >= 0 %}left{% else %}over{% endif %}</p>
    </div>
    <div class="meter-container">
        <div class="meter-animate meter-{% if budget.percent <= 85 and budget.percent > 0 %}success
                        {% elif budget.percent > 85 and budget.percent < 95 %}warning
                        {% elif budget.percent > 95 %}error
                        {% else %}default{% endif %}"
             role="progressbar" data-width="{{ budget.percent }}%" aria-valuenow="{{ budget.percent }}" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <div class="meter-footer">
        <p class="pull-left small">${{ budget.amount_spent|floatformat:0|intcomma }} of ${{ budget.amount|floatformat:0|intcomma }}</p>
        <ul class="pull-right small">
            <li><a href="{% url 'wilbur:edit-budget' budget.id %}">Edit</a></li>
            <li><a href="{% url 'wilbur:transactions-filter' budget.id %}">View Transactions</a></li>
        </ul>
    </div>
</section>