<form class="pull-left">
    <select id="filter" class="form-control small filter">
        <option value="-1" data-display="Filter budgets">All</option>
        {% for budget in budget_list %}
            <option value="{{ budget.id }}">{{ budget.name.title }}</option>
        {% endfor %}
    </select>
</form>
<script>
    $(document).ready(function() {
        var select = $('#filter');
        select.val({{ filter_value }});
        select.niceSelect();
    });
</script>
{% load staticfiles %}
<script src="{% static 'js/niceselect.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
