<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <ul class="footer-inline mar-0">
                    <li><a href="mailto:thom.meagher@gmail.com">Contact</a></li>
                    <li><a href="https://meagher.typeform.com/to/YpMiyi">Feedback</a></li>
                    <li><a href="https://twitter.com/gowilbur">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>