{% load budgets %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        {% include 'includes/message.html' with message_type="error" message_title="Error" message_text=error %}
    {% endfor %}
    {% load staticfiles %}
    <script src="{% static 'js/message.js' %}"></script>
{% endif %}

{% for field in form %}
    <div class="form-group mar-b-3">
        <div class="form-label {% if field.field.required %}required{% endif %}">
            {{ field.label_tag }}
        </div>

        {% if field.errors %}
            {{ field|add_class:"error" }}
        {% else %}
            {{ field }}
        {% endif %}

        {% if field.errors %}
            <div class="form-errors">
                <ul>
                    {{ field.errors }}
                </ul>
            </div>
        {% endif %}
    </div>
{% endfor %}