{% load humanize %}
{% load mathfilters %}

<section class="meter mar-b-3">
    <div class="meter-title">
        <p class="pull-left lead">{{ meter_title }} <span class="description">{{ meter_description }}</span></p>
        <p class="pull-right lead">${{ meter_amount_left|abs|floatformat:0|intcomma }}
            {% if meter_amount_left >= 0 %}left{% else %}over{% endif %}</p>
    </div>

    <div class="meter-container">
        <div class="meter-animate meter-{% if meter_percent <= 85 and meter_percent > 0 or type == 1 and meter_percent > 0 %}success
                        {% elif meter_percent > 85 and meter_percent < 95 %}warning
                        {% elif meter_percent > 95 %}error
                        {% else %}default{% endif %}"
             role="progressbar" data-width="{{ meter_percent }}" aria-valuenow="{{ meter_percent }}" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="meter-footer">
        <p class="pull-left small">${{ meter_amount_spent|floatformat:0|intcomma }} of ${{ meter_amount|floatformat:0|intcomma }}</p>
        {% if meter_id %}
            <ul class="pull-right small">
                <li><a href="{% url 'wilbur:budgets-edit' meter_id %}">Edit</a></li>
                <li><a href="{% url 'wilbur:transactions-budget' meter_id %}">View Transactions</a></li>
            </ul>
        {% endif %}
    </div>
</section>