<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="navbar-left">
                    <a class="brand" href="{% url 'wilbur:transactions' %}">Wilbur</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav-inline">
                        <li><a href="{% url 'wilbur:signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'wilbur:login' %}">Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>