<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="navbar-left">
                    <a class="brand" href="{% url 'wilbur:overview' %}">Wilbur</a>
                </div>

                <div class="navbar-right">
                    <ul class="nav-inline">
                        {% if user.is_authenticated %}
                            <li {% if title == 'Overview' %}class="current"{% endif %}><a href="{% url 'wilbur:overview' %}">Overview</a></li>
                            <li {% if title == 'Budgets' %}class="current"{% endif %}><a href="{% url 'wilbur:budgets' %}">Budgets</a></li>
                            <li {% if title == 'Transactions' %}class="current"{% endif %}><a href="{% url 'wilbur:transactions' %}">Transactions</a></li>
                            <li {% if title == 'Profile' %}class="current"{% endif %}><a href="{% url 'wilbur:profile' %}">Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'wilbur:signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'wilbur:login' %}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>