<form class="pull-right">
    <select id="select-date" class="form-control small">
        {% for m in month_list %}
            <option value="{{ m.year }}{{ m.month }}" data-year="{{ m.year }}" data-month="{{ m.month }}">{{ m.name }}</option>
        {% endfor %}
    </select>
</form>

<script>
    $(document).ready(function() {
        var select = $('#select-date');
        select.val({{ select_date_value }});
        select.niceSelect();
    });
</script>

{% load staticfiles %}
<script src="{% static 'js/niceselect.js' %}"></script>
<script src="{% static 'js/select-date.js' %}"></script>