{% load humanize %}
{% load budgets %}

<section id="content-ajax" class="row">
    {% if transactions|length > 0 %}
        <div class="col-md-10 col-md-offset-1 col-sm-12 mar-b-2">
            <div class="table-bordered table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Budget</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>
                                <a href="{% url 'wilbur:edit-transaction' transaction.id %}">{{ transaction.transaction_date|naturalday|capfirst }}</a>
                            </td>
                            <td>{{ transaction.budget.category.name.title }}</td>
                            <td>{{ transaction.amount|intcomma }}</td>
                            <td>{{ transaction.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <nav>
                <p class="pager-total"><span>{{ transactions.start_index }}</span> – <span>{{ transactions.end_index }}</span>
                    of <span>{{ transactions.paginator.count }}</span></p>

                <ul class="pager pull-right">
                    {% if transactions.has_other_pages %}
                        <li><a {% if transactions.has_previous %}href="?page={{ transactions.previous_page_number }}"{% endif %}
                               class="previous {% if not transactions.has_previous %}disabled{% endif %}">Newer</a>
                            {% for page in transactions.paginator.page_range %}
                                <li><a href="?page={{ page }}" class="button-pagination {% if transactions.number == page %}current{% else %}active{% endif %}">{{ page }}</a>
                            {% endfor %}
                        <li><a {% if transactions.has_next %}href="?page={{ transactions.next_page_number }}"{% endif %}
                               class="next {% if not transactions.has_next %}disabled{% endif %}">Older</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        {% include 'includes/empty_state.html' with empty_title="No Transactions" button_title="Add transaction" button_link="wilbur:add-transaction"|rev %}
    {% endif %}
</section>