{% load humanize %}
{% load budgets %}

<section id="content-ajax" class="row">
    {% if transaction_list|length > 0 %}
        <div class="col-md-10 col-md-offset-1 col-sm-12 mar-b-4">
            <div class="table-bordered table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Budget</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transaction_list %}
                        <tr>
                            <td>
                                <a href="{% url 'wilbur:transactions-edit' transaction.id %}">{{ transaction.transaction_date|naturalday|capfirst }}</a>
                            </td>
                            <td>{{ transaction.budget.category.name.title }}</td>
                            <td>{{ transaction.amount|intcomma }}</td>
                            <td>{{ transaction.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 col-sm-12">
            {% include 'includes/pagination.html' with pagination=transaction_list %}
        </div>
    {% else %}
        {% include 'includes/empty.html' with empty_title="No Transactions" empty_text="This is your moment of glory." button_title="Add transaction" button_link="wilbur:transactions-add"|rev %}
    {% endif %}
</section>