{% extends 'base_navbar.html' %}

{% load budgets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if hasBudget %}
        {% include 'includes/empty.html' with empty_title="No Budgets" button_title="Add budget" button_link="wilbur:add-budget"|rev %}
    {% else %}
        {% include 'includes/messages.html' %}

        <section class="row mar-b-3">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="{% url 'wilbur:add-transaction' %}" class="button-outline-default small pull-left mar-r-2">Add transaction</a>
                {% include 'includes/select_date.html' %}
                {% include 'includes/filter_budget.html' %}
            </div>
        </section>

        {% include 'transactions/table.html' %}
    {% endif %}

{% endblock %}